Source: korganizer
Section: contrib/mail
Priority: optional
Maintainer: Stephan Kulow <coolo@kde.org>
Standards-Version: 2.5.1

Package: korganizer
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kdebase
Description: Time planer for the KDE Desktop
 KOrganizer aims to be a complete program for organizing your appointments, 
 contacts, projects, etc.  It is in the same spirit as
 similar programs like the now ubiquitous Microsoft Outlook, Starfish
 Internet Sidekick, Time & Chaos, etc. (all for the Microsoft Windows
 platform, of course.)  Best of all, it reads and writes the vCalendar
 file format NATIVELY (please see http://www.imc.org/pdi/ for more
 information), which is now an industry-wide personal data interchange
 format.  Because of this, you should be able to move from other modern
 PIMs to KOrganizer with relative ease.  Current users of the popular
 program ical should definitely take a look at KOrganizer and compare
 features. More information is available at
 http://www.econ.yale.edu/~pbrown/korganizer/
 Thanks to Russell Cooker <russell@coker.com.au> and Rainer Dorsch 
 <rainer.dorsch@informatik.uni-stuttgart.de> for debianisation of 
 this package.

